@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer utilities {
  .truncate-lines-1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .truncate-lines-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .truncate-lines-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .truncate-lines-4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/*
.text-truncate-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}
.text-truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
*/

body {
  -webkit-tap-highlight-color: transparent;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.transition1 * {
  transition: 0.3s all ease;
}

.transitionDelayed {
  transition-delay: 0.2s;
}

@media (max-width: 639px) {
  .md2\:px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .md2\:h-full {
    height: 100% !important;
  }
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.appScreen {
  min-height: calc(100vh - 103px);
}

@media screen and (min-width: 638px) {
  .appScreen {
    min-height: calc(100vh - 50px);
  }
}

.ripple-button {
  border: none;
  border-radius: inherit;
  overflow: hidden;
  position: relative;
  width: fit-content;
  height: fit-content;
  border-radius: 9999px;
}

.ripple {
  z-index: 9999;
  width: 20px;
  height: 20px;
  position: absolute;
  display: block;
  content: "";
  border-radius: 9999px;
  opacity: 1;
  animation: 0.9s ease 1 forwards ripple-effect;
}

@keyframes ripple-effect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(10);
    opacity: 0.375;
  }
  100% {
    transform: scale(35);
    opacity: 0;
  }
}

.ripple-button > .content {
  position: relative;
  z-index: 2;
}
